<section id="services" class="page-section add-top-half add-bottom-half">
	<!-- inner-section : starts -->
	<section class="inner-section">
		<!-- container : starts -->
		<section class="container">
			<div class="row">
				<article class="col-md-12 text-center">
					<div class="page-heading">
						<h1>About Helping Hands</h1>
						<p>Our story</p>
						<img src="GalleryImages/1.png" alt="designova" ng-click="scrollAfterHeader('org')">
					</div>		
				</article>
			</div>
		</section>
		<!-- container : ends -->
	</section>
	<!-- inner-section : ends -->
</section>

<!-- Scroll Down start-->
<section>
    <div de-see-more="Scroll Down" ng-click="scrollAfterHeader('org')" class="see-more">
    <div class="text"><p class="ng-binding">Scroll Down</p></div>
    <div svg-include="arrow.svg">
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14.917px" height="88.392px" viewBox="0 0 14.917 88.392" enable-background="new 0 0 14.917 88.392" xml:space="preserve">
<symbol id="Flèche_7" viewBox="-8.496 -47.196 16.992 94.392">
<polygon fill="#0101DF" points="8.496,-21.836 -0.032,-47.197 -8.496,-21.836 -3.43,-21.836 -3.43,47.195 2.688,47.195,2.688,-21.836"></polygon>
</symbol>
<polygon class="arrow" fill="#0101DF" points="14.917,80.031 7.412,88.392 0,80.031 6.914,80.031 6.914,0 7.811,0 7.811,80.031 "></polygon>
</svg>
</div>
</div>
</section>
        <!-- Scroll down end-->

<section id="home_features" class="page-section add-top add-bottom">
	<!-- inner-section : starts -->
	<section class="inner-section">
		<!-- container : starts -->
		<section class="container">
			<div class="row">
				<article class="col-md-12 text-left">
					<div class="page-heading add-bottom-half">
						<h3>About Us</h3>
						<div class="service-text service-black">
						<span>
					Thanks for visiting us. Its patrons like you whose support and encouragement keeps us going.
Helping Hands is an India based non-profit humanitarian organization who works with Prajnana Mission to support a number of humanitarian projects in rural India.</span>
<br/><br/>
<span>Some of the projects that we actively fund and support are:<br/>
<ul>
    <li><u>Balashram:</u> A fully functional residential school for extremely poor and impoverished in rural Orissa, India, that provides a serene and healthy environment for the overall development of young minds.</li>
    <li><u>Health Care:</u> A number of charitable permanent health centers and mobile clinics are operated by HIH USA in rural Orissa and Bengal in India, providing much needed health care to people who can least afford it.</li>
    <li><u>Medical Outreach:</u> Heath camps and seminars are routinely organized in far flung centers making people aware of burning health issues.</li>
    <li><u>Emergency relief:</u> Reach out during natural catastrophes and provide emergency relief in the form of food, medical support and money in different regions across the globe.</li>
</ul>

Today our health and educational projects benefit countless poor in the far flung regions of India and we are slowly spreading our activities with your generous support to create further amenities for better serving the poor and the underprivileged of this world.</span></div>
					</div>					
				</article>
			</div>
		</section>
<!-- container : ends -->

<!-- container : starts -->
		<section class="container" id="org">
			<div class="row">
				<article class="col-md-12 text-left">
					<div class="page-heading add-bottom-half">
						<h3>Organisation Strategy</h3>
						<div class="service-text service-black"><span>
					The Future Directions Strategy is Helping Hand’s organisational plan for 2010–2020 and is closely aligned with our mission, objectives and principles of care.</span>
<br/><br/>
<span>The Organisation Plan includes Helping Hand’s:<br/>
<ul>
<li><strong>Mission and Objectives </strong>that reflects our purpose and what we stand for.</li>
<li><strong>Principles of Care</strong> that forms the foundation of how we meet the needs of our clients through the services we provide.</li>
<li><strong>Goals and Aspirations</strong>, our action plan and map of future activity for the next six years.</li>
</ul>

Developed in consultation with Helping Hand staff and our Board, the Organisation Plan can be found at each of our sites or downloaded by clicking here.<br/><br/>

For more information about our organisational strategy call us on 8497964186.</span></div>
					</div>					
				</article>
			</div>
		</section>
<!-- container : ends -->
	</section>
</section>
